@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --primary: 169, 58%, 52%;
  --primary-foreground: 0, 0%, 100%;
  --secondary: 0, 0%, 11%;
  --foreground-second: 203, 7%, 24%;
  --muted-foreground: 0, 0%, 60%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-background text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}